.header {
  display: flex;
  flex-direction: row;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 15vh;
  align-items: center;
  &__logo {
    display: flex;
    flex-direction: row;

    height: 6vh;
    min-width: 15vw;
    color: $color-primary-background;
    font-family: "Roboto";
    font-size: 6vh;
    margin-left: 5vw;
    align-items: center;
  }
  &__tag-bar {
    justify-content: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Roboto";
    &__tag {
      margin: 0.5vw;
      background-color: transparent;
      border: 0.1vw solid $color-primary-background;
      border-radius: 4vw;
      padding: 0 0.5vw;
      font-size: 1vw;
      &::before {
        content: "#";
      }
    }
  }
}
