@charset "UTF-8";
/*Used to adress desktop specific layout
This mixin uses the width value defined for desktop by retrieving it from the $breakpoints map.
The @ content directive allows for custom properties to be specified in the @include in the scss class directly, making it reusable*/
@keyframes enter-right {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes enter-bottom {
  0% {
    margin-top: 100vw;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes enter-left-carousel {
  0% {
    margin-right: 100vw;
  }
  100% {
    margin-right: 0;
  }
}
@keyframes enter-right-carousel {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes drop-down-filter-menu {
  0% {
    height: 2.5vw;
  }
  100% {
    height: 7.5vw;
  }
}
@keyframes enter-bottom-button {
  0% {
    bottom: -10vw;
  }
  100% {
    bottom: 0vw;
  }
}
body {
  overflow-x: hidden;
}

button {
  all: unset;
  /*&:focus {
    border: 3px solid $color-primary-background;
    box-sizing: border-box;
  }*/
}

.likes-price__container {
  position: fixed;
  right: 5vw;
  animation: enter-bottom-button 0.2s ease-out forwards;
  background-color: #d3573c;
  height: 3vh;
  width: 15vw;
  font-family: "DM Sans";
  font-size: 1vw;
  border-radius: 1vh 1vh 0 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .likes-price__container {
    height: 3vw;
    width: 45vw;
    font-size: 4vw;
    display: none;
  }
}
.likes-price__container__likes::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  margin-left: 0.5vw;
  margin-right: 1vw;
}
.likes-price__container__price::after {
  content: " € / Jour";
  margin-right: 1vw;
}
.likes-price__container > * {
  margin-left: 1vw;
}

.main-content {
  background-color: white;
  width: 100vw;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  animation: enter-bottom 1s ease-out forwards;
}
@media screen and (max-width: 1080px) {
  .main-content {
    margin-top: 0;
    padding-top: 0;
    flex-direction: column;
  }
}
.main-content:focus {
  border: 3px solid red;
}
.main-content__media-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 3vw;
  width: 95vw;
}
.main-content__media-list__media {
  box-sizing: border-box;
  width: 27vw;
  height: 30vw;
  overflow: hidden;
  margin-bottom: 5vw;
}
@media screen and (max-width: 1080px) {
  .main-content__media-list__media {
    width: 90vw;
    height: 90vw;
  }
}
.main-content__media-list__media__image {
  object-fit: cover;
  height: 27vw;
  width: 27vw;
  border-radius: 0.5vw;
}
@media screen and (max-width: 1080px) {
  .main-content__media-list__media__image {
    width: 90vw;
    height: 80vw;
  }
}
.main-content__media-list__media__title-container {
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans";
}
@media screen and (max-width: 1080px) {
  .main-content__media-list__media__title-container {
    height: 10vw;
  }
}
.main-content__media-list__media__title-container__title {
  font-size: 1.5vw;
  color: #d3573c;
}
@media screen and (max-width: 1080px) {
  .main-content__media-list__media__title-container__title {
    font-size: 4vw;
  }
}
.main-content__media-list__media__title-container__likes {
  font-size: 1.5vw;
  margin-right: 0vw;
  color: #901c1c;
}
@media screen and (max-width: 1080px) {
  .main-content__media-list__media__title-container__likes {
    font-size: 4vw;
  }
}
.main-content__media-list__media__title-container__likes::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  margin-left: 2vw;
}
.main-content__title {
  position: absolute;
  top: 4vh;
  left: 0;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #901c1c;
  font-family: "DM Sans";
  align-items: flex-end;
  padding-right: 2vw;
  font-size: 2vw;
}
@media screen and (max-width: 1080px) {
  .main-content__title {
    top: 1vw;
    font-size: 4vw;
    margin-top: 3vw;
    width: 94vw;
    height: 5vw;
  }
}
.main-content__photographer-header {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  background-color: #fafafa;
  margin-bottom: 5vw;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-header {
    justify-content: space-between;
    width: 97vw;
    margin-top: 5vw;
  }
}
.main-content__business-card {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  width: 30vw;
  font-family: "DM Sans";
}
@media screen and (max-width: 1080px) {
  .main-content__business-card {
    width: 60vw;
  }
}
.main-content__business-card > * {
  text-align: left;
  font-size: 2vw;
  margin-bottom: 1vw;
}
@media screen and (max-width: 1080px) {
  .main-content__business-card > * {
    font-size: 4vw;
  }
}
.main-content__business-card__name {
  color: #d3573c;
  font-size: 3vw;
  height: 3vw;
}
@media screen and (max-width: 1080px) {
  .main-content__business-card__name {
    font-size: 6vw;
    height: 9vw;
  }
}
.main-content__business-card__location {
  font-size: 1vw;
  color: #901c1c;
}
@media screen and (max-width: 1080px) {
  .main-content__business-card__location {
    font-size: 3vw;
  }
}
.main-content__business-card__tagline {
  font-size: 1vw;
}
@media screen and (max-width: 1080px) {
  .main-content__business-card__tagline {
    font-size: 3vw;
  }
}
.main-content__business-card__portrait {
  width: 10vw;
  height: 10vw;
  margin-left: 30vw;
  object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 1080px) {
  .main-content__business-card__portrait {
    width: 30vw;
    height: 30vw;
    margin-left: 0vw;
  }
}
.main-content__business-card__tag-list {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-content__business-card__tag-list__tag {
  margin: 0.5vw;
  background-color: transparent;
  border: 0.1vw solid #901c1c;
  border-radius: 4vw;
  padding: 0 0.5vw;
  font-size: 1vw;
}
.main-content__business-card__tag-list__tag::before {
  content: "#";
}
.main-content__photographer-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 33vw;
  height: 20vw;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  font-family: "DM Sans";
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card {
    width: 100vw;
    height: auto;
    margin-bottom: 5vw;
  }
}
.main-content__photographer-card > * {
  display: flex;
  background-color: white;
  font-size: 1.5vw;
  height: auto;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card > * {
    font-size: 3vw;
    height: auto;
  }
}
.main-content__photographer-card__location {
  font-size: 1vw;
  color: #901c1c;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__location {
    font-size: 3vw;
  }
}
.main-content__photographer-card__price {
  font-size: 0.75vw;
  color: #901c1c;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__price {
    font-size: 3vw;
  }
}
.main-content__photographer-card__price::after {
  content: " € / Jour";
}
.main-content__photographer-card__portrait {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__portrait {
    width: 50vw;
    height: 50vw;
  }
}
.main-content__photographer-card__name {
  color: #d3573c;
  font-size: 2vw;
  height: 3vw;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__name {
    font-size: 5vw;
    height: 6vw;
  }
}
.main-content__photographer-card__tagline {
  font-size: 1vw;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__tagline {
    font-size: 3vw;
  }
}
.main-content__photographer-card__contact-button {
  background-color: #901c1c;
  margin-right: 0vw;
  padding: 1.5vw;
  color: white;
  font-family: "DM Sans";
  font-size: 1.5vw;
  line-height: 1.5vw;
  border-radius: 0.5vw;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__contact-button {
    position: fixed;
    bottom: 10vw;
    left: 35vw;
    width: 30vw;
    font-size: 3vw;
    line-height: 3vw;
    padding: 2.5vw;
  }
}
.main-content__photographer-card__contact-button:hover {
  background-color: #d3573c;
  color: black;
}
.main-content__photographer-card__tag-list {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-content__photographer-card__tag-list__tag {
  margin: 0.5vw;
  background-color: transparent;
  border: 0.1vw solid lightgrey;
  color: #901c1c;
  border-radius: 4vw;
  padding: 0.5vw;
  font-size: 1vw;
}
@media screen and (max-width: 1080px) {
  .main-content__photographer-card__tag-list__tag {
    font-size: 3vw;
  }
}
.main-content__photographer-card__tag-list__tag::before {
  content: "#";
}
.main-content__photographer-card__tag-list__tag:hover {
  color: white;
  background-color: #901c1c;
}
.main-content__photographer-card__tag-list__tag:focus {
  color: white;
  background-color: #901c1c;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 2.5vw;
  overflow: hidden;
  border-radius: 5%;
  margin-left: 3vw;
  color: white;
}
@media screen and (max-width: 1080px) {
  .filter-menu {
    display: none;
  }
}
.filter-menu:hover {
  animation: drop-down-filter-menu 0.5s ease-out forwards;
}
.filter-menu:focus-within {
  animation: drop-down-filter-menu 0.5s ease-out forwards;
}
.filter-menu__container {
  display: flex;
  flex-direction: row;
  height: 2.5vw;
  width: 100%;
  padding-left: 5vw;
}
.filter-menu__filter {
  font-family: "DM Sans";
  font-size: 1.5vw;
  line-height: 1.5vw;
  background-color: #901c1c;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5vw;
}
.filter-menu__filter:nth-child(1)::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: bold;
}

.filter-label {
  font-family: "DM Sans";
  font-size: 1.5vw;
  line-height: 1.5vw;
  width: 8vw;
  padding: 0.5vw;
}
@media screen and (max-width: 1080px) {
  .filter-label {
    display: none;
  }
}

.modal-viewer {
  position: fixed;
  top: 0vh;
  left: 0vw;
  right: 0vw;
  bottom: 0vh;
  background: white;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
}
@media screen and (max-width: 1080px) {
  .modal-viewer {
    top: 0vh;
    left: 0vw;
    right: 0vw;
    bottom: 0vh;
  }
}
.modal-viewer:focus {
  outline: none;
}
.modal-viewer__title {
  width: 80vh;
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 1vw;
  padding: 1vw;
}
@media screen and (max-width: 1080px) {
  .modal-viewer__title {
    width: 80vw;
    font-size: 4vw;
  }
}
.modal-viewer__image-container {
  display: flex;
  flex-direction: row;
}
.modal-viewer__media {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vh;
  border-radius: 0.5vh;
  animation: enter-left-carousel 0.2s ease-out forwards;
  z-index: 5;
  object-fit: cover;
}
@media screen and (max-width: 1080px) {
  .modal-viewer__media {
    height: 80vw;
    width: 80vw;
  }
}
.modal-viewer__media--right {
  animation: enter-right-carousel 0.5s ease-in-out forwards;
}
.modal-viewer__media--left {
  animation: enter-left-carousel 0.5s ease-in-out forwards;
}
.modal-viewer__nav-arrow {
  /*position: absolute;
  top: 48vh;*/
  z-index: 3;
  color: black;
  font-size: 3vw;
  color: #901c1c;
  font-weight: bold;
}
@media screen and (max-width: 1080px) {
  .modal-viewer__nav-arrow {
    font-size: 7vw;
  }
}
.modal-viewer__previous {
  /*left: 10vw;*/
  margin-right: 3vw;
}
.modal-viewer__previous::after {
  font-family: "Font Awesome 5 Free";
  content: "";
}
.modal-viewer__next {
  text-align: right;
  margin-left: 3vw;
  /*right: 10vw;*/
}
.modal-viewer__next::after {
  font-family: "Font Awesome 5 Free";
  content: "";
}
.modal-viewer__close {
  /*position: absolute;
  top: 1vw;
  right: 2vw;*/
  z-index: 99;
  color: black;
  height: 2vw;
  width: 2vw;
  color: #901c1c;
  font-size: 2vw;
  font-weight: bold;
  margin-left: -2vw;
}
@media screen and (max-width: 1080px) {
  .modal-viewer__close {
    top: 40vw;
    right: 5vw;
    font-size: 5vw;
    margin-left: -4vw;
  }
}
.modal-viewer__close::after {
  font-family: "Font Awesome 5 Free";
  content: "";
}

.header {
  display: flex;
  flex-direction: row;
  z-index: 3;
  position: relative;
  top: 0;
  width: 80vw;
  overflow: hidden;
  align-items: center;
  animation: enter-right 0.5s ease-out forwards;
}
@media screen and (max-width: 1080px) {
  .header {
    width: 100vw;
    max-height: 40vw;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1080px) {
  .header {
    flex-wrap: wrap;
  }
}
.header__logo {
  display: flex;
  flex-direction: row;
  height: 6vw;
  color: #901c1c;
  font-family: "Roboto";
  font-size: 3vw;
  margin-left: 5vw;
  margin-right: 3vw;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .header__logo {
    font-size: 12vw;
    width: 100%;
    height: 12vw;
  }
}
.header__back-to-top {
  position: fixed;
  top: 0;
  left: 48vw;
  display: none;
  color: black;
  background-color: #d3573c;
  font-family: "DM Sans";
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 0.5vh 0.5vw;
  border-radius: 5%;
}
.header__back-to-top:focus {
  border: 3px solid red;
}
.header__back-to-top--visible {
  display: block;
}
.header__tag-bar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Roboto";
  width: 60vw;
}
@media screen and (max-width: 1080px) {
  .header__tag-bar {
    width: 90vw;
    margin-bottom: 5vw;
    margin: 5vw 0;
    padding-bottom: 5vw;
  }
}
.header__tag-bar__tag {
  margin: 0.3vw;
  background-color: transparent;
  border: 0.02vw solid lightgrey;
  border-radius: 4vw;
  padding: 0 0.5vw;
  font-size: 1.5vw;
  color: #901c1c;
}
@media screen and (max-width: 1080px) {
  .header__tag-bar__tag {
    font-size: 4vw;
    margin: 1vw;
    padding: 1vw;
  }
}
.header__tag-bar__tag--selected {
  color: white;
  background-color: #901c1c;
}
.header__tag-bar__tag::before {
  content: "#";
}
.header__tag-bar__tag:hover {
  color: white;
  background-color: #901c1c;
}
.header__tag-bar__tag:focus {
  color: white;
  background-color: #901c1c;
}

.contact-modale {
  position: fixed;
  background: radial-gradient(#fbfbfb 30%, #ffffff90);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 5;
  width: 100%;
}
.contact-modale--hidden {
  display: none;
}
.contact-modale__close {
  position: absolute;
  right: 30%;
  top: 14%;
  z-index: 99;
  color: black;
  height: 3vw;
  width: 3vw;
  font-family: "Roboto";
  color: black;
}
@media screen and (max-width: 1080px) {
  .contact-modale__close {
    right: 5vw;
    top: 5vw;
  }
}
.contact-modale__close::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: bold;
  font-size: 3vw;
  color: white;
}
.contact-modale__form {
  width: 40%;
  flex-wrap: nowrap;
  max-height: 80vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #db8876;
  border-radius: 0.5vh;
  flex-wrap: nowrap;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (max-width: 1080px) {
  .contact-modale__form {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin-top: 0vh;
  }
}
.contact-modale__form > * {
  width: 96%;
  font-family: "DM Sans";
  font-size: 3vh;
  color: #312e2e;
  margin-bottom: 0.1vh;
  border-radius: 0.7vh;
}
.contact-modale__form__contact-me-label {
  font-size: 2.5vw;
}
@media screen and (max-width: 1080px) {
  .contact-modale__form__contact-me-label {
    font-size: 6vw;
  }
}
.contact-modale__form__contact-name {
  font-size: 2.5vw;
}
@media screen and (max-width: 1080px) {
  .contact-modale__form__contact-name {
    font-size: 6vw;
  }
}
.contact-modale__form > #get-message {
  height: 10vh;
  margin-bottom: 2vw;
}
@media screen and (max-width: 1080px) {
  .contact-modale__form > #get-message {
    height: auto;
  }
}
.contact-modale__form__submit {
  color: white;
  background-color: #901c1c;
  border: none;
  padding: 0.5vw;
  width: 20vw;
  border-radius: 1vw;
}
@media screen and (max-width: 1080px) {
  .contact-modale__form__submit {
    width: 25vw;
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
