.main-content {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4vh;
  padding-bottom: 4vh;

  &__media-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    &__media {
      width: 33vw;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 1vh;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $color-primary-background;
    font-family: "Roboto";
  }

  &__photographer-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  &__photographer-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 33vw;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto";
    & > * {
      display: flex;
      background-color: white;
      font-size: 1.5vw;
      height: auto;
    }
    &__location {
      font-size: 1vw;
      color: $color-primary-background;
    }
    &__price {
      font-size: 0.75vw;
      color: $color-primary-background;
      &::after {
        content: " € / Jour";
      }
    }
    &__portrait {
      width: 10vw;
      height: 10vw;
      object-fit: cover;
      border-radius: 50%;
    }
    &__name {
      color: $color-primary;
      font-size: 2vw;
      height: 2vw;
    }
    &__tagline {
      font-size: 1vw;
      text-align: center;
    }
    &__tag-list {
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      &__tag {
        margin: 0.5vw;
        background-color: transparent;
        border: 0.1vw solid $color-primary-background;
        border-radius: 4vw;
        padding: 0 0.5vw;
        font-size: 1vw;
        &::before {
          content: "#";
        }
      }
    }
  }
}
